.container_discount{
  width: 90%;
  padding: 20px 0 70px 0;
  margin: 0 auto;

  h1{
    margin-bottom: 2%;
  }
  .left_back{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    position: absolute;
    top: 40%;
    left: -3%;
    background-color: #fff;
    z-index: 60;
    box-shadow: 0px 1px 4px 0px #00000040;
  }
  .left_back:hover{
    cursor: pointer;
  }
  .right_back{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    position: absolute;
    top: 40%;
    right: -2%;
    background-color: #fff;
    z-index: 60;
    box-shadow: 0px 1px 4px 0px #00000040;
  }
  .right_back:hover{
    cursor: pointer;
  }
  .arrow{
    width: 15px;
    position: relative;
    top: 27%;
    left: 38%;
  }
  .left_arrow{
    width: 15px;
    position: relative;
    top: 27%;
    left: 35%;
  }
}