.servise{
  background-color: #F9F9FB;
  .servise_content{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    .content{
      box-shadow: 0px 5px 3px 3px #00000040;
      background-color: #fff;
      height: fit-content;
      width: 31%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .about_content{
        padding: 2% 5% 5% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
        h2{
          color: var(--blue);
        }
        p{
          font-family: Montserrat;
          font-size: 17px;
          font-weight: 400;
          line-height: 23px;
          color: var(--pr-text);
        }
        a{
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 600;
          line-height: 17px;
          color: var(--blue);
          text-decoration: none;
          border: 2px solid var(--blue);
          padding: 13px 30px;
        }
      }
    }
    .content:nth-child(2) img{
      height: 172px;
    }
  }
}
@media (max-width: 768px) {
  .servise{
    background-color: #fff;
    .servise_content{
      flex-direction: column;
      .content{
        width: 75%;
        margin: 0 auto;
        margin-top: 4%;
      }
    }
  }
}
@media (max-width: 576px) {
  .servise{
    .servise_content{
      .content{
        width: 100%;
        margin: 0 auto;
        margin-top: 4%;
      }
    }
  }
}