.card_container{
  box-shadow: -2px 3px 5px 0px #00000026;
  width: 23%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;
  padding-bottom: 2%;
  .pic_card{
    position: relative;
    .card_logo{
      position: absolute;
      top: 6%;
      left: 5%;
    }
    .card_img{
      width: 100%;
    }
  }
  .about_card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    p{
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
    }
    .about_link{
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      text-decoration: none;
      color: #0069FF;
      padding: 3% 0;
    }
  }
}
@media (max-width: 992px) {
  .card_container{
    .about_card{
      h2{
        font-size: 20px;
        line-height: 29px;
      }
      p{
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 860px) {
  .card_container{
    width: fit-content;
    margin: 0px 20px 2px 2px;
    .pic_card{
      .card_img{
        width: fit-content;
      }
    }
    .about_card{
      h2{
        font-size: 24px;
        line-height: 29px;
      }
      p{
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 670px) {
  .card_container{
    .pic_card{
      .card_img{
        width: fit-content;
      }
    }
  }
}