.main{
  height: fit-content;
  height: 490px;
  .main_container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
      font-family: Montserrat;
      font-size: 38px;
      font-weight: 700;
      line-height: 46px;
      color: var(--bg-pr);
      margin-bottom: 2%;
    }
    .search_block{
      form{
        display: flex;
        justify-content: flex-end;
        background-color: var(--bg-pr);
        height: 55px;
        width: 496px;
        border-radius: 3px;
        input{
          border: none;
          width: 340px;
          outline: none;
          height: 55px;
        }
        input::placeholder{
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          color: #C3C3C3;
        }
        span{
          padding-right: 1%;
          .glas{
            margin-top: 80%;
          }
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .main{
    height: 400px;
  }
}
@media (max-width:1200px) {
  .main{
    height: 320px;
    .main_container{
      background-position: center center;
      // background-attachment: fixed;
      background-size: 100%;
    }
  }
}
@media (max-width: 900px) {
  .main{
    height: 280px;
  }
}
@media (max-width: 768px) {
  .main{
    height: 220px;
    .main_container{
      h1{
        font-size: 28px;
      }
      .search_block{
        form{
          width: 420px;
          height: 40px;
          input{
            height: 38px;
          }
          span{
            .glas{
              margin-top: 45%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .main{
    height: 150px;
    .main_container{
      h1{
        display: none;
      }
    }
    .search_block{
      display: none;
    }
  }
}
@media (max-width: 400px) {
  .main{
    height: 100px;
  }
}