.header {
  display: flex;
  height: 65px;
  width: 100%;
  padding: 12px 34px;
  align-items: center;
  gap: 30px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    height: 100%;
    * {
      transition: 0.1s;
    }
    .header__nav__item {
      color: inherit;
    }
    .header__nav__item--active {
      color: var(--blue);
    }
    :is(.header__nav__item, .header__nav__item--active) {
      height: 100%;
      text-decoration: none;
      display: grid;
      place-items: center;
    }
    :is(.header__nav__item, .header__nav__item--active):hover {
      color: var(--blue);
    }
  }
  > hr {
    height: 30px;
    border: 1px solid #d7d7d7;
  }
  .header__loginButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    background: #0069ff;
    border-radius: 3px;
  }
  .header__controller {
    display: flex;
    align-items: center;
    gap: 20px;
    .header__controller--icons {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: var(--bg-pr);
  }
}
