.building{
  background-color: #F9F9FB;
  padding: 0.5% 0 3% 0;
  .container{
    width: 88%;
    margin: 0 auto;
    // border: 1px solid red;
    .header_building{
      margin: 3% 0;
      display: flex;
      justify-content: space-between;
      .building_link{
        display: flex;
        white-space: nowrap;
        width: fit-content;
        align-items: center;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: #0069FF;
        text-decoration: none;
        margin-right: 5px;
        img{
          margin-left: 5%;
          transition: margin-left 0.3s ease;
        }
        &:hover{
          img{
            margin-left: 12%;
          }
        }
      }
    }
    .card{
      display: flex;
      justify-content: space-between;
      // border: 1px solid red;
    }
  }
}
@media (max-width: 860px) {
  .building{
    .container{
      .card{
        overflow: hidden;
        overflow: auto;
      }
      .card::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .building{
    background-color: #fff;
    .container{
      .header_building{
        .building_link{
          display: none;
        }
      }
    }
  }
}