.realtor_container{
  margin: 1.5px 1.5px 0px 1.5px;
  display: flex;
  box-shadow: 0px 3px 12px 5px #00000026;
  border-radius: 3px;
  height: 80px;
  align-items: center;
  img{
    margin-left: 4%;
  }
  .data_realtor{
    margin-left: 4%;
    p{
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      color: #575656;
    }
  }
}
@media (max-width: 1300px) {
  .realtor_container{
    height: 70px;
    white-space: nowrap;
    width: 24%;
    img{
      margin-left: 2%;
    }
    .data_realtor{
      h4{
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .realtor_container{
    width: 31%;
    .data_realtor{
      margin-left: 2%;
    }
  }
}
@media (max-width: 992px) {
  .realtor_container{
    width: 32.5%;
    img{
      width: 20%;
    }
    .data_realtor{
      h4{
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
      p{
        font-size: 11px;
      }
    }
  }
}
@media (max-width: 768px) {
  .realtor_container{
    width: 45%;
  }
}
@media (max-width: 576px) {
  .realtor_container{
    width: 70%;
  }
}